.right-top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}

.right-top-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    outline: none;
    border: none;
    height: 100%;
}

.right-top-buttons button:hover {
    background-color: #0DF825;
}

.link {
    display: flex;
    align-items: center;
    padding: 17.5px 15px;
    height: 100%;
    width: 100%;
}

.rt-icon {
    height: 25px;
    width: 25px;
    color: #000;
}

@media (max-width: 880px) {
    .right-top-buttons {
        display: none;
    }
}