nav {
    display: flex;
    flex-direction: column;
}

nav a {
    padding: 7px 12px;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: #0DF825;
}

.icon {
    color: #000;
    height: 25px;
    width: 25px;
}