nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 0;
}

.rest {
    background-color: #fff;
    height: 100vh;
}

nav .ancora {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 12px;
    outline: none;
    border: none;
    background-color: #fff;
}

nav .ancora:hover {
    background-color: #0DF825;
}

.ln-icon {
    color: #000;
    height: 25px;
    width: 25px;
}